﻿@model PagedList.IPagedList<Licensing.Web.Models.LicenseKey>

<div class="dbtablewrap">
    <table class="dbtable">
        <tr>
            <th>
                @Html.ActionLink("License Key", "Index", new { sortOrder = ViewBag.LicenseKeySortParam, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("Product Name", "Index", new { sortOrder = ViewBag.ProductNameSortParam, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("Version", "Index", new { sortOrder = ViewBag.CountrySortParam, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                PM
            </th>
            <th>
                @Html.ActionLink("Company Name", "Index", new { sortOrder = ViewBag.CompanyNameSortParam, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                Operate
            </th>
            <th>
                Key Operate
            </th>
            <th>
                @Html.ActionLink("LicenseDuration", "Index", new { sortOrder = ViewBag.LicenseDurationSortParam, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("Update", "Index", new { sortOrder = ViewBag.UpdateDurationSortParam, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("Auto", "Index", new { sortOrder = ViewBag.UpdateDurationSortParam, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("Usage/Capacity", "Index", new { sortOrder = ViewBag.ActivationCountSortParam, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("LastActivationTime", "Index", new { sortOrder = ViewBag.LastActivationSortParam, currentFilter = ViewBag.CurrentFilter })
            </th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Key)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderItem.Order.Version)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProcessMode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderItem.Order.Company)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", "LicenseKey", new { id = item.Id }, null)

                @if (User.IsInRole("Administrators"))
                {
                    @:|
                    @Html.ActionLink("Edit", "Edit", "LicenseKey", new { id = item.Id }, null)
                    @:|
                    using (Html.BeginForm("Delete/" + item.Id, "LicenseKey", FormMethod.Post, new { id = "deleteForm_" + item.Id }))
                    {
                        @Html.AntiForgeryToken()
                        <a href="javascript:if (confirm('Are you sure you want to delete this license key ?')) {document.getElementById('deleteForm_@item.Id').submit()}">Delete</a>
                    }
                    @:|
                    if (item.Active)
                    {
                        using (Html.BeginForm("Block/" + item.Id, "LicenseKey", FormMethod.Post, new { id = "blockForm_" + item.Id }))
                        {
                            @Html.AntiForgeryToken()
                            <a href="javascript:if (confirm('Are you sure you want to block this license key ?')) {document.getElementById('blockForm_@item.Id').submit()}">Block</a>
                        }
                    }
                    else
                    {
                        using (Html.BeginForm("Unblock/" + item.Id, "LicenseKey", FormMethod.Post, new { id = "unblockForm_" + item.Id }))
                        {
                            @Html.AntiForgeryToken()
                            <a href="javascript:if (confirm('Are you sure you want to unblock this license key ?')) {document.getElementById('unblockForm_@item.Id').submit()}">Unblock</a>
                        }
                    }
                }
            </td>
            <td>
                @if (User.IsInRole("Administrators"))
                {
                    @:
                    using (Html.BeginForm("InActivationAll/" + item.Id, "LicenseKey", FormMethod.Post, new { id = "InActivationAllForm_" + item.Id }))
                    {
                        @Html.AntiForgeryToken()
                        <a href="javascript:if (confirm('Are you sure you want to InActivation All Keys this license key ?')) {document.getElementById('InActivationAllForm_@item.Id').submit()}">All_InAct</a>
                    }
                    @:|
                    using (Html.BeginForm("ClearExpAct/" + item.Id, "LicenseKey", FormMethod.Post, new { id = "ClearExpActForm_" + item.Id }))
                    {
                        @Html.AntiForgeryToken()
                        <a href="javascript:if (confirm('Are you sure you want to Clear Expiration Activation Keys this license key ?')) {document.getElementById('ClearExpActForm_@item.Id').submit()}">Clear_ExpAct</a>
                    }
                }
            </td>
            <td>
                @if (item.LicenseDuration == null)
                {
                    @:&lt;never&gt;
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.LicenseDuration)
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateDuration)
                @Html.DisplayFor(modelItem => item.UpdateActivation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AutoInactivation)
            </td>
            <td style="text-align: center">
                @if (item.ActivationCount == null)
                {
                    @:0
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.ActivationCount)
                }

                &nbsp;/&nbsp;

                @if (item.ActivationLimit == null)
                {
                    @:&lt;inherited&gt;
                }
                else
                {
                    if (item.ActivationLimit == 0)
                    {
                        @:&#8734;
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.ActivationLimit)
                    }
                }
                &nbsp;/&nbsp;
                @Html.DisplayFor(modelItem => item.CheckUserName)
                @if (item.UserNameId == 0)
                {
                    @Html.ActionLink("A", "Create", "UserName", new { id = item.Id }, null)
                }
                else
                {
                    @Html.ActionLink("E", "Edit", "UserName", new { id = item.UserNameId }, null)
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastActivationTime)
            </td>
        </tr>
        }

    </table>
</div>

<div>
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
    of @Model.PageCount
    &nbsp;
    @if (Model.HasPreviousPage)
    {
        @Html.ActionLink("<<", "Index", new { page = 1, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, selectedProduct = ViewData["selectedProduct"], startDate = ViewData["startDate"], endDate = ViewData["endDate"], pagedctl = "licensekeylist", CompanyName = ViewData["companyName"], LicenseKey = ViewData["licenseKey"], GlobalList = ViewData["GlobalList"] })
        @Html.Raw("&nbsp;");
        @Html.ActionLink("< Prev", "Index", new { page = Model.PageNumber - 1, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, selectedProduct = ViewData["selectedProduct"], startDate = ViewData["startDate"], endDate = ViewData["endDate"], pagedctl = "licensekeylist", CompanyName = ViewData["companyName"], LicenseKey = ViewData["licenseKey"], GlobalList = ViewData["GlobalList"] })
    }
    else
    {
        @:<<
        @Html.Raw("&nbsp;");
        @:< Prev
    }
    &nbsp;
    @if (Model.HasNextPage)
    {
        @Html.ActionLink("Next >", "Index", new { page = Model.PageNumber + 1, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, selectedProduct = ViewData["selectedProduct"], startDate = ViewData["startDate"], endDate = ViewData["endDate"], pagedctl = "licensekeylist", CompanyName = ViewData["companyName"], LicenseKey = ViewData["licenseKey"], GlobalList = ViewData["GlobalList"] })
        @Html.Raw("&nbsp;");
        @Html.ActionLink(">>", "Index", new { page = Model.PageCount, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, selectedProduct = ViewData["selectedProduct"], startDate = ViewData["startDate"], endDate = ViewData["endDate"], pagedctl = "licensekeylist", CompanyName = ViewData["companyName"], LicenseKey = ViewData["licenseKey"], GlobalList = ViewData["GlobalList"] })
    }
    else
    {
        @:Next >
        @Html.Raw("&nbsp;")
        @:>>
    }
</div>
