﻿@model PagedList.IPagedList<Licensing.Web.Models.UserName>

<div class="dbtablewrap">
    <table class="dbtable">
        <tr>
            <th>
                @Html.ActionLink("Edit Date", "Index", new { sortOrder = ViewBag.DateSortParam, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("Product", "Index", new { sortOrder = ViewBag.ProductSortParam, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("Version", "Index", new { sortOrder = ViewBag.ProductSortParam, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("Company", "Index", new { sortOrder = ViewBag.DateSortParam, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("License Key", "Index", new { sortOrder = ViewBag.LicenseKeySortParam, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("UserName", "Index", new { sortOrder = ViewBag.UserNameSortParam, currentFilter = ViewBag.CurrentFilter })
                <br />
                @Html.ActionLink("UserNameActivationCnt", "Index", new { sortOrder = ViewBag.NameInfoSortParam, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                Operate
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EditDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LicenseKey.Product.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LicenseKey.OrderItem.Order.Version)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LicenseKey.OrderItem.Order.Company)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LicenseKey.Key)
                </td>
                <td>
                    @Html.TextAreaFor(modelItem => item.NamesActivationCnt2, new { @rows = 2, @wrap = "off", @readonly = "true", style = "border:0; overflow:hidden" })
                    
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", "UserName", new { id = item.Id }, null)

                    @if (User.IsInRole("Administrators"))
                    {
                        @:|
                        @Html.ActionLink("Edit", "Edit", "UserName", new { id = item.Id }, null)
                        @:|
                        using (Html.BeginForm("Delete/" + item.Id, "UserName", FormMethod.Post, new { id = "deleteForm_" + item.Id }))
                        {
                            @Html.AntiForgeryToken()
                            <a href="javascript:if (confirm('Are you sure you want to delete this UserName record ?')) {document.getElementById('deleteForm_@item.Id').submit()}">Delete</a>
                        }
                    }
                </td>
            </tr>
        }

    </table>
</div>

<div>
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
    of @Model.PageCount
    &nbsp;
    @if (Model.HasPreviousPage)
    {
        @Html.ActionLink("<<", "Index", new { page = 1, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, selectedProduct = ViewData["selectedProduct"], startDate = ViewData["startDate"], endDate = ViewData["endDate"], pagedctl = "activationlist", CompanyName = ViewData["companyName"], LicenseKey = ViewData["licenseKey"], HardwareID = ViewData["hardwareID"] })
        @Html.Raw("&nbsp;");
        @Html.ActionLink("< Prev", "Index", new { page = Model.PageNumber - 1, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, selectedProduct = ViewData["selectedProduct"], startDate = ViewData["startDate"], endDate = ViewData["endDate"], pagedctl = "activationlist", CompanyName = ViewData["companyName"], LicenseKey = ViewData["licenseKey"], HardwareID = ViewData["hardwareID"] })
    }
    else
    {
        @:<<
        @Html.Raw("&nbsp;");
        @:< Prev
    }
    &nbsp;
    @if (Model.HasNextPage)
    {
        @Html.ActionLink("Next >", "Index", new { page = Model.PageNumber + 1, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, selectedProduct = ViewData["selectedProduct"], startDate = ViewData["startDate"], endDate = ViewData["endDate"], pagedctl = "activationlist", CompanyName = ViewData["companyName"], LicenseKey = ViewData["licenseKey"], HardwareID = ViewData["hardwareID"] })
        @Html.Raw("&nbsp;");
        @Html.ActionLink(">>", "Index", new { page = Model.PageCount, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, selectedProduct = ViewData["selectedProduct"], startDate = ViewData["startDate"], endDate = ViewData["endDate"], pagedctl = "activationlist", CompanyName = ViewData["companyName"], LicenseKey = ViewData["licenseKey"], HardwareID = ViewData["hardwareID"] })
    }
    else
    {
        @:Next >
        @Html.Raw("&nbsp;")
        @:>>
    }
</div>
