﻿@model PagedList.IPagedList<Licensing.Web.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Products</h2>

@if (User.IsInRole("Administrators"))
{
    <p>
        @Html.ActionLink("Add Product", "Create")
    </p>
}

<div class="dbtablewrap">
<table class="dbtable">
    <tr>
        <th>
            @Html.ActionLink("Product Name", "Index", new { sortOrder=ViewBag.NameSortParm, currentFilter=ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Version", "Index", new { sortOrder = ViewBag.VersionSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Version)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.Id }) 
            
            @if (User.IsInRole("Administrators"))
            {
                @:|
                @Html.ActionLink("Edit", "Edit", new { id=item.Id })     
                @:|
                using (Html.BeginForm("Delete/" + item.Id, "Product", FormMethod.Post, new { id = "deleteForm_" + item.Id })) {
                    @Html.AntiForgeryToken()
                    <a href="javascript:if (confirm('Are you sure you want to delete this product ?')) {document.getElementById('deleteForm_@item.Id').submit()}">Delete</a>
                }
            }
        </td>
    </tr>
}

</table>
</div>
<div>
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
    of @Model.PageCount
    &nbsp;
    @if (Model.HasPreviousPage)
    {
        @Html.ActionLink("<<", "Index", new { page = 1, sortOrder = ViewBag.CurrentSort, currentFilter=ViewBag.CurrentFilter  })
        @Html.Raw("&nbsp;");
        @Html.ActionLink("< Prev", "Index", new { page = Model.PageNumber - 1, sortOrder = ViewBag.CurrentSort, currentFilter=ViewBag.CurrentFilter  })
    }
    else
    {
        @:<<
        @Html.Raw("&nbsp;");
        @:< Prev
    }
    &nbsp;
    @if (Model.HasNextPage)
    {
        @Html.ActionLink("Next >", "Index", new { page = Model.PageNumber + 1, sortOrder = ViewBag.CurrentSort, currentFilter=ViewBag.CurrentFilter  })
        @Html.Raw("&nbsp;");
        @Html.ActionLink(">>", "Index", new { page = Model.PageCount, sortOrder = ViewBag.CurrentSort, currentFilter=ViewBag.CurrentFilter  })
    }
    else
    {
        @:Next >
        @Html.Raw("&nbsp;")
        @:>>
    }
</div>
