﻿@model Licensing.Web.Models.Product

@{
    ViewBag.Title = "Edit";
}

<h2>Product Information</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

<fieldset>
    <legend>Product</legend>

    <div class="editor-label">
        프로덕트ID (@Html.LabelFor(model => model.Id) : 100, 200)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Id)
        @Html.ValidationMessageFor(model => model.Id)
    </div>
    <div class="editor-label">
        프로그램 이름 (@Html.LabelFor(model => model.Name))
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Name)
        @Html.ValidationMessageFor(model => model.Name)
    </div>
    <!--
    <div class="editor-label">
        @Html.LabelFor(model => model.Price)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Price)
        @Html.ValidationMessageFor(model => model.Price)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Currency)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Currency)
        @Html.ValidationMessageFor(model => model.Currency)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.DefaultLicenseDuration)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.DefaultLicenseDuration)
        @Html.ValidationMessageFor(model => model.DefaultLicenseDuration)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.DefaultMaxUniqueHardwareIdsPerLicenseKey)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.DefaultMaxUniqueHardwareIdsPerLicenseKey)
        @Html.ValidationMessageFor(model => model.DefaultMaxUniqueHardwareIdsPerLicenseKey)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.DefaultMaxActivationsPerHardwareId)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.DefaultMaxActivationsPerHardwareId)
        @Html.ValidationMessageFor(model => model.DefaultMaxActivationsPerHardwareId)
    </div>
    -->

    <div class="editor-label">
        @Html.LabelFor(model => model.LicenseKeyTemplate)
    </div>
    <div class="editor-field">
        @Html.TextAreaFor(model => model.LicenseKeyTemplate, new { @cols = 50, @rows = 10, @wrap = "off" })
        @Html.ValidationMessageFor(model => model.LicenseKeyTemplate)
    </div>

    <!--
    <div class="editor-label">
        @Html.LabelFor(model => model.OrderEmailTemplate)
    </div>
    <div class="editor-field">
        @Html.TextAreaFor(model => model.OrderEmailTemplate, new { @cols = 50, @rows = 10, @wrap = "off" })
        @Html.ValidationMessageFor(model => model.OrderEmailTemplate)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.SupportEmail)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.SupportEmail)
        @Html.ValidationMessageFor(model => model.SupportEmail)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.PayPalId)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.PayPalId)
        @Html.ValidationMessageFor(model => model.PayPalId)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.ShareItId)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.ShareItId)
        @Html.ValidationMessageFor(model => model.ShareItId)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.RegNowId)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.RegNowId)
        @Html.ValidationMessageFor(model => model.RegNowId)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.FastSpringId)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.FastSpringId)
        @Html.ValidationMessageFor(model => model.FastSpringId)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.BraintreeId)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.BraintreeId)
        @Html.ValidationMessageFor(model => model.BraintreeId)
    </div>
     -->

    <div class="editor-label">
        프로그램 버전 (@Html.LabelFor(model => model.Version) : 24.0.0 )
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Version)
        @Html.ValidationMessageFor(model => model.Version)
    </div>
    <br>
    ===================KR===================

    <div class="editor-label">
        다운로드 URL (@Html.LabelFor(model => model.DownLoadURL))
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.DownLoadURL)
        @Html.ValidationMessageFor(model => model.DownLoadURL)
    </div>

    <div class="editor-label">
        릴리즈 노트 URL (@Html.LabelFor(model => model.ReleaseNoteURL))
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.ReleaseNoteURL)
        @Html.ValidationMessageFor(model => model.ReleaseNoteURL)
    </div>

    <div class="editor-label">
        공지사항 URL (@Html.LabelFor(model => model.NotificationURL))
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.NotificationURL)
        @Html.ValidationMessageFor(model => model.NotificationURL)
    </div>

    <div class="editor-label">
        온라인 메뉴얼 URL (@Html.LabelFor(model => model.OnlineManualURL))
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.OnlineManualURL)
        @Html.ValidationMessageFor(model => model.OnlineManualURL)
    </div>

    <div class="editor-label">
        가이드 동영상 URL (@Html.LabelFor(model => model.GuideVideoURL))
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.GuideVideoURL)
        @Html.ValidationMessageFor(model => model.GuideVideoURL)
    </div>

    <div class="editor-label">
        서비스 데스크 URL (@Html.LabelFor(model => model.ServiceDeskURL))
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.ServiceDeskURL)
        @Html.ValidationMessageFor(model => model.ServiceDeskURL)
    </div>
    
    <br>
    ===================JP===================

    <div class="editor-label">
        다운로드 URL (@Html.LabelFor(model => model.DownLoadURL_JP))
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.DownLoadURL_JP)
        @Html.ValidationMessageFor(model => model.DownLoadURL_JP)
    </div>

    <div class="editor-label">
        릴리즈 노트 URL (@Html.LabelFor(model => model.ReleaseNoteURL_JP))
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.ReleaseNoteURL_JP)
        @Html.ValidationMessageFor(model => model.ReleaseNoteURL_JP)
    </div>

    <div class="editor-label">
        공지사항 URL (@Html.LabelFor(model => model.NotificationURL_JP))
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.NotificationURL_JP)
        @Html.ValidationMessageFor(model => model.NotificationURL_JP)
    </div>

    <div class="editor-label">
        온라인 메뉴얼 URL (@Html.LabelFor(model => model.OnlineManualURL_JP))
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.OnlineManualURL_JP)
        @Html.ValidationMessageFor(model => model.OnlineManualURL_JP)
    </div>

    <div class="editor-label">
        가이드 동영상 URL (@Html.LabelFor(model => model.GuideVideoURL_JP))
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.GuideVideoURL_JP)
        @Html.ValidationMessageFor(model => model.GuideVideoURL_JP)
    </div>

    <div class="editor-label">
        서비스 데스크 URL (@Html.LabelFor(model => model.ServiceDeskURL_JP))
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.ServiceDeskURL_JP)
        @Html.ValidationMessageFor(model => model.ServiceDeskURL_JP)
    </div>

    @if (!(ViewBag.IsReadOnly == true))
    {
        <p>
            <input type="submit" value="Save" />
        </p>
    }

</fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
