﻿@model Licensing.Web.Models.UserName

@{
    ViewBag.Title = "Add, Edit or View UserName Record";
}

<h2>UserNameForm</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>LicenseKey And UserName List</legend>

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.LicenseKeyId)

        <div class="editor-label">
            License @Html.LabelFor(model => model.LicenseKey.Key) 
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.LicenseKey.Key, new { style = "width: 300px" })
            @Html.ValidationMessageFor(model => model.LicenseKey.Key)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EditDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EditDate)
            @Html.ValidationMessageFor(model => model.EditDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Names)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Names, new { @cols = 70, @rows = 10, @wrap = "on" })
            @Html.ValidationMessageFor(model => model.Names)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NamesActivationCnt)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.NamesActivationCnt, new { @cols = 70, @rows = 10, @wrap = "on", @disabled = "disabled" })
            @Html.ValidationMessageFor(model => model.NamesActivationCnt)
        </div>
    </fieldset>

    if (!(ViewBag.IsReadOnly == true))
    {
        <p>
            <input type="submit" value="Save" />
        </p>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {
            $("#EditDate").datepicker();
        });
    </script>
}