﻿@model Licensing.Web.Models.Product

@{
    ViewBag.Title = "Edit";
}

<h2>Product Information</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Product</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Id)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Id)
            @Html.ValidationMessageFor(model => model.Id)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Price)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Price)
            @Html.ValidationMessageFor(model => model.Price)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Currency)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Currency)
            @Html.ValidationMessageFor(model => model.Currency)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.DefaultLicenseDuration)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DefaultLicenseDuration)
            @Html.ValidationMessageFor(model => model.DefaultLicenseDuration)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DefaultMaxUniqueHardwareIdsPerLicenseKey)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DefaultMaxUniqueHardwareIdsPerLicenseKey)
            @Html.ValidationMessageFor(model => model.DefaultMaxUniqueHardwareIdsPerLicenseKey)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DefaultMaxActivationsPerHardwareId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DefaultMaxActivationsPerHardwareId)
            @Html.ValidationMessageFor(model => model.DefaultMaxActivationsPerHardwareId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LicenseKeyTemplate)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.LicenseKeyTemplate, new { @cols=50, @rows=10, @wrap="off" })
            @Html.ValidationMessageFor(model => model.LicenseKeyTemplate)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.OrderEmailTemplate)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.OrderEmailTemplate, new { @cols=50, @rows=10, @wrap="off" })
            @Html.ValidationMessageFor(model => model.OrderEmailTemplate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SupportEmail)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SupportEmail)
            @Html.ValidationMessageFor(model => model.SupportEmail)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.PayPalId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PayPalId)
            @Html.ValidationMessageFor(model => model.PayPalId)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.ShareItId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ShareItId)
            @Html.ValidationMessageFor(model => model.ShareItId)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.RegNowId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RegNowId)
            @Html.ValidationMessageFor(model => model.RegNowId)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.FastSpringId)
        </div>
       <div class="editor-field">
            @Html.EditorFor(model => model.FastSpringId)
            @Html.ValidationMessageFor(model => model.FastSpringId)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.BraintreeId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BraintreeId)
            @Html.ValidationMessageFor(model => model.BraintreeId)
        </div>

        @if (!(ViewBag.IsReadOnly == true))
        {
            <p>
                <input type="submit" value="Save" />
            </p>
        }

    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
