﻿@model Licensing.Web.Models.LicenseKey

@{
    ViewBag.Title = "License Key Details";
}

<h2>License Key Details</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

<fieldset>
    <legend>LicenseKey</legend>

    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.DateAdded)
    <!--@Html.HiddenFor(model => model.ProductId)-->
    @Html.HiddenFor(model => model.OrderItemId)
    @Html.HiddenFor(model => model.UserNameId)
    @Html.HiddenFor(model => model.LastActivationTime)

    <div class="editor-label">
        프로덕트 (Product)
    </div>
    <div class="editor-field">
        @Html.DropDownList("SelectedProduct")
    </div>

    <div class="editor-label">
        프로덕트ID (@Html.LabelFor(model => model.ProductId))
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.ProductId)
    </div>

    <div class="editor-label">
        라이선스 키 (@Html.LabelFor(model => model.Key))
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Key)
        @Html.ValidationMessageFor(model => model.Key)
    </div>

    <div class="editor-label">
        관리자모드 비번 (@Html.LabelFor(model => model.Password))
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Password)
        @Html.ValidationMessageFor(model => model.Password)
    </div>

    <div class="editor-label">
        발급날짜 (@Html.LabelFor(model => model.DateAdded))
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.DateAdded)
        @Html.ValidationMessageFor(model => model.DateAdded)
    </div>

    <div class="editor-label">
        사용가능한 PC개수 (@Html.LabelFor(model => model.DeviceLimit))
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.DeviceLimit)
        @Html.ValidationMessageFor(model => model.DeviceLimit)
    </div>

    <!--
    <div class="editor-label">
        @Html.LabelFor(model => model.PerDeviceActivationLimit)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.PerDeviceActivationLimit)
        @Html.ValidationMessageFor(model => model.PerDeviceActivationLimit)
    </div>
    -->

    <div class="editor-label">
        인증키 개수 (@Html.LabelFor(model => model.ActivationLimit))
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.ActivationLimit)
        @Html.ValidationMessageFor(model => model.ActivationLimit)
    </div>

    <div class="editor-label">
        사용기간 (@Html.LabelFor(model => model.LicenseDuration) 해당 날짜 까지 사용가능)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.LicenseDuration)
        @Html.ValidationMessageFor(model => model.LicenseDuration)
    </div>

    <div class="editor-label">
        인증키 발급 주기 (@Html.LabelFor(model => model.UpdateDuration) 단위: Day)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.UpdateDuration)
        @Html.ValidationMessageFor(model => model.UpdateDuration)
    </div>

    <div class="editor-label">
        인증키 자동 발급 (@Html.LabelFor(model => model.UpdateActivation))
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.UpdateActivation)
        @Html.ValidationMessageFor(model => model.UpdateActivation)
    </div>

    <div class="editor-label">
        인증키 발급후 사용기간 (@Html.LabelFor(model => model.LicenseHistoryDuration) 단위: Day)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.LicenseHistoryDuration)
        @Html.ValidationMessageFor(model => model.LicenseHistoryDuration)
    </div>
    <div class="editor-label">
        라이선스키 활성화(Key Is Active)
    </div>
    <div class="editor-field">
        @Html.CheckBoxFor(model => model.Active)
    </div>
    <div class="editor-label">
        사용자명 체크(Check UserName)
    </div>
    <div class="editor-field">
        @if (this.Model.UserNameId == 0)
        {
            @Html.CheckBoxFor(model => model.CheckUserName, new { @disabled = "disabled" })
        }
        else
        {
            @Html.CheckBoxFor(model => model.CheckUserName)
        }
    </div>

    <div class="editor-label">
        인증키 자동회수(Auto Inactivation)
    </div>
    <div class="editor-field">
        @Html.CheckBoxFor(model => model.AutoInactivation)
    </div>

    <div class="editor-label">
        프로그램 모드(@Html.LabelFor(model => model.ProcessMode))<br>
        (Q/A/F/CE)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.ProcessMode)
        @Html.ValidationMessageFor(model => model.ProcessMode)
    </div>

    <div class="editor-label">
        글로벌버전(IsGlobal)
    </div>
    <div class="editor-field">
        @Html.CheckBoxFor(model => model.IsGlobal)
    </div>
    <div class="editor-label">
        국가코드(CountryCode)<br>
        (KR=1, US=2, JP=4, CN=8, VN=16)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.CountryCode)
    </div>
</fieldset>

    if (!(ViewBag.IsReadOnly == true))
    {
        <p>
            <input type="submit" value="Save" />
        </p>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">
    $(function () {
        $('#LicenseDuration').datepicker({
            inline: true,
            setDate: new Date()
        });
    });
</script>
