﻿@model Licensing.Web.Models.Activation

@{
    ViewBag.Title = "Add, Edit or View Activation Record";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Activation</legend>

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.LicenseKeyId)
        @Html.HiddenFor(model => model.LicenseKey.UserNameId)
        <div class="editor-label">
            회사명 (@Html.LabelFor(model => model.LicenseKey.OrderItem.Order.Company))
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LicenseKey.OrderItem.Order.Company)
            @Html.ValidationMessageFor(model => model.LicenseKey.OrderItem.Order.Company)
        </div>

        <div class="editor-label">
            프로덕트명 (@Html.LabelFor(model => model.LicenseKey.OrderItem.Product.Name))
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LicenseKey.OrderItem.Product.Name)
            @Html.ValidationMessageFor(model => model.LicenseKey.OrderItem.Product.Name)
        </div>

        <div class="editor-label">
            라이선스 버전 (@Html.LabelFor(model => model.LicenseKey.OrderItem.Order.Version))
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LicenseKey.OrderItem.Order.Version)
            @Html.ValidationMessageFor(model => model.LicenseKey.OrderItem.Order.Version)
        </div>

        <div class="editor-label">
            라이선스 키 (License @Html.LabelFor(model => model.LicenseKey.Key))
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LicenseKey.Key)
            @Html.ValidationMessageFor(model => model.LicenseKey.Key)
        </div>

        <div class="editor-label">
            인증키 (@Html.LabelFor(model => model.ActivationKey))
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ActivationKey)
            @Html.ValidationMessageFor(model => model.ActivationKey)
        </div>

        <div class="editor-label">
            하드웨어ID (@Html.LabelFor(model => model.HardwareId) 개인 PC 고유ID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HardwareId)
            @Html.ValidationMessageFor(model => model.HardwareId)
        </div>

        <div class="editor-label">
            만료날짜 (@Html.LabelFor(model => model.ExpirationDate))
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ExpirationDate)
            @Html.ValidationMessageFor(model => model.ExpirationDate)
        </div>

        <div class="editor-label">
            인증키 발급날짜 (@Html.LabelFor(model => model.ActivationDate))
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ActivationDate)
            @Html.ValidationMessageFor(model => model.ActivationDate)
        </div>

        <div class="editor-label">
            IP 주소 (@Html.LabelFor(model => model.IPAddress))
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IPAddress)
            @Html.ValidationMessageFor(model => model.IPAddress)
        </div>

        <div class="editor-label">
            사용자명 (@Html.LabelFor(model => model.Name))
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            사용한 프로그램 버전 (@Html.LabelFor(model => model.BuildVersion))
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BuildVersion)
            @Html.ValidationMessageFor(model => model.BuildVersion)
        </div>

        <div class="editor-label">
            로그인 시간 (@Html.LabelFor(model => model.LoginDate))
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LoginDate)
            @Html.ValidationMessageFor(model => model.LoginDate)
        </div>

        @if (!(ViewBag.IsReadOnly == true))
        {
            <p>
                <input type="submit" value="Save" />
            </p>
        }
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {
            $("#ExpirationDate").datepicker();
        });
    </script>
}
