﻿@model Licensing.Web.Models.UserInfo

@{
    ViewBag.Title = "Add, Edit or View UserInfo Record";
}

<h2>UserInfoForm</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>LicenseKey And UserInfo List</legend>

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.LicenseKeyId)

        <div class="editor-label">
            License @Html.LabelFor(model => model.LicenseKey.Key)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.LicenseKey.Key, new { style = "width: 300px" })
            @Html.ValidationMessageFor(model => model.LicenseKey.Key)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EditDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EditDate)
            @Html.ValidationMessageFor(model => model.EditDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ActivationCnt)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.ActivationCnt)
            @Html.ValidationMessageFor(model => model.ActivationCnt)
        </div>

        <div class="editor-label">
            Is Hold
        </div>
        <div class="editor-field">
            @Html.CheckBoxFor(model => model.IsHold)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HoldDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HoldDate)
            @Html.ValidationMessageFor(model => model.HoldDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HoldCnt)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.HoldCnt)
            @Html.ValidationMessageFor(model => model.HoldCnt)
        </div>
    </fieldset>

    if (!(ViewBag.IsReadOnly == true))
    {
        <p>
            <input type="submit" value="Save" />
        </p>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {
            $("#EditDate").datepicker();
            $("#HoldDate").datepicker();
        });
    </script>
}