﻿@model Licensing.Web.Models.InActivation

@{
    ViewBag.Title = "Add, Edit or View InActivation Record";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>InActivation</legend>

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.LicenseKey.OrderItem.Order.Company)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LicenseKey.OrderItem.Order.Company)
            @Html.ValidationMessageFor(model => model.LicenseKey.OrderItem.Order.Company)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LicenseKey.OrderItem.Product.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LicenseKey.OrderItem.Product.Name)
            @Html.ValidationMessageFor(model => model.LicenseKey.OrderItem.Product.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LicenseKey.OrderItem.Order.Version)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LicenseKey.OrderItem.Order.Version)
            @Html.ValidationMessageFor(model => model.LicenseKey.OrderItem.Order.Version)
        </div>

        <div class="editor-label">
            License @Html.LabelFor(model => model.LicenseKey.Key)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LicenseKey.Key)
            @Html.ValidationMessageFor(model => model.LicenseKey.Key)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HardwareId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HardwareId)
            @Html.ValidationMessageFor(model => model.HardwareId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ActivationKey)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ActivationKey)
            @Html.ValidationMessageFor(model => model.ActivationKey)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ExpirationDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ExpirationDate)
            @Html.ValidationMessageFor(model => model.ExpirationDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.InActivationDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.InActivationDate)
            @Html.ValidationMessageFor(model => model.InActivationDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CheckAdmin)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CheckAdmin)
            @Html.ValidationMessageFor(model => model.CheckAdmin)
        </div>

        @if (!(ViewBag.IsReadOnly == true))
        {
            <p>
                <input type="submit" value="Save" />
            </p>
        }
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {
            $("#ExpirationDate").datepicker();
        });
    </script>
}
