﻿@model PagedList.IPagedList<Licensing.Web.Models.InActivation>

@{
    ViewBag.Title = "Index";
}

<h2>InActivations</h2>

@if (User.IsInRole("Administrators"))
{
    <p>
        @Html.ActionLink("Add InActivation Record", "Create")
    </p>
    <p>
        @Html.ActionLink("RemoveAll Expiration Inactivation Key", "RemoveAllExpirationInActivation")
    </p>
}

@using (Html.BeginForm())
{
    <p>
        Start Date:&nbsp;@Html.TextBox("StartDate", ViewBag.StartDate.ToString("yyyy/MM/dd") as string, new { style = "width: 10ex" })&nbsp;End Date:&nbsp;@Html.TextBox("EndDate", ViewBag.EndDate.ToString("yyyy/MM/dd") as string, new { style = "width: 10ex" })
        &nbsp;Product:&nbsp;@Html.DropDownList("SelectedProduct", "All")
        &nbsp;Company&nbsp;@Html.TextBox("CompanyName", ViewBag.CompanyName as string, new { style = "width: 15ex" })
        &nbsp;LicenseKey&nbsp;@Html.TextBox("LicenseKey", ViewBag.LicenseKey as string, new { style = "width: 38ex" })
        &nbsp;HardwareID&nbsp;@Html.TextBox("HardwareID", ViewBag.HardwareID as string, new { style = "width: 38ex" })
        &nbsp;Global:&nbsp;@Html.DropDownList("GlobalList", "All")
        &nbsp;<input type="submit" value="Filter" />
    </p>
}

@Html.Partial("_InActivationListPartial", Model, new ViewDataDictionary() { { "startDate", ViewBag.StartDate }, { "endDate", ViewBag.EndDate }, { "selectedProduct", ViewBag.SelectedProduct.SelectedValue }, { "companyName", ViewBag.CompanyName }, { "licenseKey", ViewBag.LicenseKey }, { "hardwareID", ViewBag.HardwareID }, { "GlobalList", ViewBag.GlobalList.SelectedValue } })

<script type="text/javascript">
    $(function () {
        $('#StartDate').datepicker({
            inline: true,
            setDate: new Date(new Date().getTime() - (1000 * 60 * 60 * 24 * 7))
        });

        $('#EndDate').datepicker({
            inline: true,
            setDate: new Date()
        });
    });
</script>
