﻿@model Licensing.Web.Models.OrderItem

@{
    ViewBag.Title = "Add, Edit or View Order";
}

<h2>Order Details</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

<fieldset>
    <legend>Order</legend>

    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.OrderId)
    @Html.HiddenFor(model => model.ProductId)
    @Html.HiddenFor(model => model.TotalPrice)
    @Html.HiddenFor(model => model.Order.Id)

    <div class="editor-label">
        프로그램 (@Html.LabelFor(model => model.ProductId))
    </div>
    <div class="editor-field">
        @Html.DropDownList("SelectedProduct")
    </div>

    <div class="editor-label">
        라이선스 사용자수 (@Html.LabelFor(model => model.Quantity))
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Quantity)
        @Html.ValidationMessageFor(model => model.Quantity)
    </div>

    <div class="editor-label">
        주문번호 (@Html.LabelFor(model => model.Order.TransactionId)) 변경 불가
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Order.TransactionId)
        @Html.ValidationMessageFor(model => model.Order.TransactionId)
    </div>

    <div class="editor-label">
        발급날짜 (@Html.LabelFor(model => model.Order.Date))
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Order.Date)
        @Html.ValidationMessageFor(model => model.Order.Date)
    </div>
    <div class="editor-label">
        업체명 (@Html.LabelFor(model => model.Order.FirstName))
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Order.FirstName)
        @Html.ValidationMessageFor(model => model.Order.FirstName)
    </div>

    <div class="editor-label">
        담당자 (@Html.LabelFor(model => model.Order.LastName))
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Order.LastName)
        @Html.ValidationMessageFor(model => model.Order.LastName)
    </div>

    <div class="editor-label">
        회사명 (@Html.LabelFor(model => model.Order.Company))
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Order.Company)
        @Html.ValidationMessageFor(model => model.Order.Company)
    </div>
    <!--
    <div class="editor-label">
        @Html.LabelFor(model => model.Order.Address)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Order.Address)
        @Html.ValidationMessageFor(model => model.Order.Address)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Order.PhoneNumber)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Order.PhoneNumber)
        @Html.ValidationMessageFor(model => model.Order.PhoneNumber)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Order.Email)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Order.Email)
        @Html.ValidationMessageFor(model => model.Order.Email)
    </div>
    -->

    <div class="editor-label">
        라이선스 버전(@Html.LabelFor(model => model.Order.Version)) <br />
        (Pro/Partnership/Viewer/Academy)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Order.Version)
        @Html.ValidationMessageFor(model => model.Order.Version)
    </div>
    <!--
    <div class="editor-label">
        주문금액 (@Html.LabelFor(model => model.Order.OrderTotal))
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Order.OrderTotal)
        @Html.ValidationMessageFor(model => model.Order.OrderTotal)
    </div>
    <div class="editor-label">
        통화 (@Html.LabelFor(model => model.Order.Currency))
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Order.Currency)
        @Html.ValidationMessageFor(model => model.Order.Currency)
    </div>
    -->

    @if (ViewBag.IsCreate == true)
    {
        <div class="editor-label">
            글로벌버전(IsGlobal)
        </div>
        <div class="editor-field">
            @Html.CheckBox("IsGlobal", false)
        </div>
        <div class="editor-label">
            국가코드(CountryCode)<br>
            (KR=1, US=2, JP=4, CN=8, VN=16)
        </div>
        <div class="editor-field">
            @Html.TextBox("CountryCode", 1)
        </div>
    }

    <div class="editor-label">
        라이선스키 (License Keys)
    </div>
    <div class="editor-field">
        @{
            string licenseKeyList = "";

            if (Model.LicenseKeys != null)
            {
                foreach (var key in Model.LicenseKeys)
                {
                    licenseKeyList += (key.Key + Environment.NewLine);
                }
            }
        }

        @Html.TextArea("LicenseKeys", licenseKeyList, new { @cols = "42", @rows = "5" });
    </div>

    @if (!(ViewBag.IsReadOnly == true))
    {
        <p>
            <input type="submit" value="Save" />
        </p>
    }
</fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">
    $(function () {
        $('#Order_Date').datepicker({
            inline: true,
            setDate: new Date()
        });
    });
</script>
